/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.devise-alert {
  color: red;
}

.text-muted {
  color: gray;
  font-size: x-small;
}

#calendar {
  max-width: 100%;
}

.fc-view-harness {
  height: 80vh !important;
}

.fc-timeGridWeek-view .fc-view-harness,
.fc-timeGridDay-view .fc-view-harness {
  height: 100vh !important;
}

.fc-dayGridMonth-view .fc-col-header-cell-cushion {
  pointer-events: none;
  color: inherit;
  text-decoration: none;
}

.fc-timeGridDay-view .fc-col-header-cell-cushion {
  pointer-events: none;
  color: inherit;
  text-decoration: none;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fc .fc-button {
  background-color: #78c2ad;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.fc .fc-button:hover {
  background-color: #56cc9d;
}

.modal-confirmed-status {
  background-color: #56cc9d !important;
  color: white !important;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  display: inline-flex;
}

.modal-pending-status {
  background-color: #ffce67 !important;
  color: black !important;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  display: inline-flex;
}

.modal-cancelled-status {
  background-color: gray !important;
  color: white !important;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  display: inline-flex;
}

.calendar-event-pending {
  background-color: #ffce67 !important;
  border-color: #ffce67 !important;
}

.calendar-event-cancelled {
  background-color: gray !important;
  border-color: gray !important;
  opacity: 50%;
}

.tab-content h2 {
  display: none;
}

.navbar-toggler {
  border-color: white
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.lesson-note-table-content {
  height: 5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  vertical-align: middle;
}

.lesson-note-table td {
  vertical-align: middle;
}

.lesson-note-index-name {
  word-wrap: break-word;
  word-break: keep-all;
  white-space: normal;
}
